---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main class="grid grid-cols-2">
    <div class="place-content-center p-5">
      <h1 class="text-center">
        Hi 👋, my name is <span class="text-gradient">etash</span>
      </h1>
      <p class="pt-5 px-28 text-center">
        Glad you're here. You'll find me working on Solidity, Rust, and Python
        projects most of the time. If you ever want to connect feel free to
        reach out.
      </p>
      <img class="p-20 rounded-full" src="/capy.webp" alt="Royal Capybara" />
    </div>
    <div class="place-content-center p-5">
      <h2 class="underline underline-offset-4">Work</h2>
      <ul role="list" class="grid grid-cols-1">
        <Card
          href="https://silika.xyz"
          title="Silika Studio"
          body="Web3 development studio, focused primarily in the EVM ecosystem"
        />
        <Card
          href="https://www.goodminds.io/"
          title="Good Minds"
          body="Back-to-basics, art-focused NFT project for crypto natives"
        />
        <h2 class="underline underline-offset-4">Links</h2>
        <Card href="https://github.com/etashhh" title="Github" />
        <Card href="https://twitter.com/0xetash" title="Twitter" />
        <Card href="https://opensea.io/etash" title="OpenSea" />
        <Card href="mailto:etashdoteth@gmail.com" title="Email me" />
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
